<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/static/discovery.css'/>
</head>
<body>

<h2>Discovery</h2>

<div class="keychanger">
  <div class="box1">
    <div id="C">C</div>
    <div id="Cp">C#</div>
    <div id="Db">Db</div>
    <div id="D">D</div>
    <div id="Dp">D#</div>
    <div id="Eb">Eb</div>
    <div id="E">E</div>
    <div id="F">F</div>
    <div id="Fp">F#</div>
    <div id="Gb">Gb</div>
    <div id="G">G</div>
    <div id="Gp">G#</div>
    <div id="Ab">Ab</div>
  </div>
  <br>
  <div class="box2">
    
    
    <div id="min">min</div>
    <div id="min7">min7</div>
    <div id="maj">maj</div>
    <div id="maj7">maj7</div>

    <div id="aug">aug</div>
    <div id="dom7">dom7</div>
    <div id="dim">dim</div>
    <div id="maj9">maj9</div>
  </div>  
</div>
<script src="/static/discovery.js"></script>
</body>
</html>