<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Fretboard</title>
</head>
<body>
    <div class="fretboard">  <!-- Fretboard class containing 6 string classes + 9 frets for each string -->

    </div>
    <div class="chord_header">Chord Name</div> 
    <div class="chord_name">
        <p id="chord-name"></p>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>