<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Fretboard</title>
</head>
<body>
    <div class="fretboard">  <!-- Fretboard class containing 6 string classes + 9 frets for each string -->

    </div>

    <div class="display-panel">
        <p id="chord-name"></p>
    </div>

    <script src="/static/app.js"></script>

    <p><ins class="scales_chords_api" chord="maj" instrument="guitar" output="sound" ></ins></p>

    <h2></h2>
    <script async type="text/javascript" src="https://www.scales-chords.com/api/scales-chords-api.js"></script>
</body>
</html>