<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/static/fretboard.css'/>
</head>
<body>

<h2>FretNot</h2>

<div class="fretboard">
    <div class="row row-1">
        <div class="cell" data-value="E" data-index="0">E</div>
        <div class="cell" data-value="F" data-index="0">F</div>
        <div class="cell" data-value="Gb" data-index="0">F#/Gb</div> <!--F#/Gb -->
        <div class="cell" data-value="G" data-index="0">G</div>
        <div class="cell" data-value="Ab" data-index="0">G#/Ab</div> <!--G#/Ab -->
        <div class="cell" data-value="A" data-index="0">A</div>
        <div class="cell" data-value="Bb" data-index="0">A#/Bb</div>
        <div class="cell" data-value="B" data-index="0">B</div>
        <div class="cell" data-value="C" data-index="0">C</div>
        <div class="cell" data-value="Db" data-index="0">C#/Db</div> <!--C#/Db -->
        <div class="cell" data-value="D" data-index="0">D</div> <!--A#/Bb -->
        <div class="cell" data-value="Eb" data-index="0">D#/Eb</div> <!--D#/Eb -->
        <div class="cell" data-value="E" data-index="0">E</div>
        <div class="cell" data-value="F" data-index="0">F</div>
        <div class="cell" data-value="Gb" data-index="0">F#/Gb</div> <!--F#/Gb -->
        <div class="cell" data-value="G" data-index="0">G</div>
    </div>
    <div class="row row-2">
        <div class="cell" data-value="B" data-index="1">B</div>
        <div class="cell" data-value="C" data-index="1">C</div>
        <div class="cell" data-value="Db" data-index="1">C#/Db</div> <!--C#/Db -->
        <div class="cell" data-value="D" data-index="1">D</div>
        <div class="cell" data-value="Eb" data-index="1">D#/Eb</div> <!--D#/Eb -->
        <div class="cell" data-value="E" data-index="1">E</div>
        <div class="cell" data-value="F" data-index="1">F</div>
        <div class="cell" data-value="Gb" data-index="1">F#/Gb</div> <!--F#/Gb -->
        <div class="cell" data-value="G" data-index="1">G</div>
        <div class="cell" data-value="Ab" data-index="1">G#/Ab</div> <!--G#/Ab -->
        <div class="cell" data-value="A" data-index="1">A</div>
        <div class="cell" data-value="Bb" data-index="1">A#/Bb</div>
        <div class="cell" data-value="B" data-index="1">B</div>
        <div class="cell" data-value="C" data-index="1">C</div>
        <div class="cell" data-value="Db" data-index="1">C#/Db</div> <!--C#/Db -->
        <div class="cell" data-value="D" data-index="1">D</div> <!--A#/Bb -->
    </div>
    <div class="row row-2">
        <div class="cell" data-value="G" data-index="2">G</div>
        <div class="cell" data-value="Ab" data-index="2">G#/Ab</div> <!--G#/Ab -->
        <div class="cell" data-value="A" data-index="2">A</div>
        <div class="cell" data-value="Bb" data-index="2">A#/Bb</div>
        <div class="cell" data-value="B" data-index="2">B</div>
        <div class="cell" data-value="C" data-index="2">C</div>
        <div class="cell" data-value="Db" data-index="2">C#/Db</div> <!--C#/Db -->
        <div class="cell" data-value="D" data-index="2">D</div> <!--A#/Bb -->
        <div class="cell" data-value="Eb" data-index="2">D#/Eb</div> <!--D#/Eb -->
        <div class="cell" data-value="E" data-index="2">E</div>
        <div class="cell" data-value="F" data-index="2">F</div>
        <div class="cell" data-value="Gb" data-index="2">F#/Gb</div> <!--F#/Gb -->
        <div class="cell" data-value="G" data-index="2">G</div>
        <div class="cell" data-value="Ab" data-index="2">G#/Ab</div> <!--G#/Ab -->
        <div class="cell" data-value="A" data-index="2">A</div>
        <div class="cell" data-value="Bb" data-index="2">A#/Bb</div>
    </div>
    <div class="row row-2">
        <div class="cell" data-value="D" data-index="3">D</div> <!--A#/Bb -->
        <div class="cell" data-value="Eb" data-index="3">D#/Eb</div> <!--D#/Eb -->
        <div class="cell" data-value="E" data-index="3">E</div>
        <div class="cell" data-value="F" data-index="3">F</div>
        <div class="cell" data-value="Gb" data-index="3">F#/Gb</div> <!--F#/Gb -->
        <div class="cell" data-value="G" data-index="3">G</div>
        <div class="cell" data-value="Ab" data-index="3">G#/Ab</div> <!--G#/Ab -->
        <div class="cell" data-value="A" data-index="3">A</div>
        <div class="cell" data-value="Bb" data-index="3">A#/Bb</div>
        <div class="cell" data-value="B" data-index="3">B</div>
        <div class="cell" data-value="C" data-index="3">C</div>
        <div class="cell" data-value="Db" data-index="3">C#/Db</div> <!--C#/Db -->
        <div class="cell" data-value="D" data-index="3">D</div> <!--A#/Bb -->
        <div class="cell" data-value="Eb" data-index="3">D#/Eb</div> <!--D#/Eb -->
        <div class="cell" data-value="E" data-index="3">E</div>
        <div class="cell" data-value="F" data-index="3">F</div>        
    </div>
    <div class="row row-2">
        <div class="cell" data-value="A" data-index="4">A</div>
        <div class="cell" data-value="Bb" data-index="4">A#/Bb</div>
        <div class="cell" data-value="B" data-index="4">B</div>
        <div class="cell" data-value="C" data-index="4">C</div>
        <div class="cell" data-value="Db" data-index="4">C#/Db</div> <!--C#/Db -->
        <div class="cell" data-value="D" data-index="4">D</div> <!--A#/Bb -->
        <div class="cell" data-value="Eb" data-index="4">D#/Eb</div> <!--D#/Eb -->
        <div class="cell" data-value="E" data-index="4">E</div>
        <div class="cell" data-value="F" data-index="4">F</div>
        <div class="cell" data-value="Gb" data-index="4">F#/Gb</div> <!--F#/Gb -->
        <div class="cell" data-value="G" data-index="4">G</div>
        <div class="cell" data-value="Ab" data-index="4">G#/Ab</div> <!--G#/Ab -->
        <div class="cell" data-value="A" data-index="4">A</div>
        <div class="cell" data-value="Bb" data-index="4">A#/Bb</div>
        <div class="cell" data-value="B" data-index="4">B</div>
        <div class="cell" data-value="C" data-index="4">C</div>   
    </div>
    <div class="row row-2">
        <div class="cell" data-value="E" data-index="5">E</div>
        <div class="cell" data-value="F" data-index="5">F</div>
        <div class="cell" data-value="Gb" data-index="5">F#/Gb</div> <!--F#/Gb -->
        <div class="cell" data-value="G" data-index="5">G</div>
        <div class="cell" data-value="Ab" data-index="5">G#/Ab</div> <!--G#/Ab -->
        <div class="cell" data-value="A" data-index="5">A</div>
        <div class="cell" data-value="Bb" data-index="5">A#/Bb</div>
        <div class="cell" data-value="B" data-index="5">B</div>
        <div class="cell" data-value="C" data-index="5">C</div>
        <div class="cell" data-value="Db" data-index="5">C#/Db</div> <!--C#/Db -->
        <div class="cell" data-value="D" data-index="5">D</div> <!--A#/Bb -->
        <div class="cell" data-value="Eb" data-index="5">D#/Eb</div> <!--D#/Eb -->
        <div class="cell" data-value="E" data-index="5">E</div>
        <div class="cell" data-value="F" data-index="5">F</div>
        <div class="cell" data-value="Gb" data-index="5">F#/Gb</div> <!--F#/Gb -->
        <div class="cell" data-value="G" data-index="5">G</div>
    </div>
<script src="/static/fretboard.js"></script>
</body>
</html>
