
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #272424;
    /*font-family*/ 
  }
  
  .fretboard-analyzer {
    display: flex; 
    flex-direction: column; 
    background: rgba(235, 189, 130, 0.819);
    width: 50%;
    min-width: 723px;
    height: 300px;
    margin-top: 20%;
    margin-left: 25%;
  }
  
  .string{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }
  
  .string:before {
    content: '';
    width: 100%;
    height: 10px;
    background: linear-gradient(#eee, #999);
    box-shadow: 1px 3px 10px rgba(112, 94, 70, 0.819);
    z-index: 1;
    position: absolute;
    top: 22px;
  }
  
  .note-fret {
    display: flex;
    flex: 1;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .note-fret:first-child {
    background: rgb(22, 21, 21);
    min-width: 50px;
    border-right: 12px solid;
    flex-grow: 0;
    flex-shrink: 0;
    border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%; 
  }
  
  .note-fret:hover:before {
    content: attr(data-note);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    background: teal;
    z-index: 2;
    color: #eeee;
    opacity: 1;
  }
  
  .single-fretmark:after {
    content: "";
    position: absolute;
    height: 20px; 
    width: 20px;
    border-radius: 50%;
    background: rgba(79, 66, 49, 0.819);
    top: 150px;
  }
  
  .double-fretmark:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(79, 66, 49, 0.819);
    top: 58px;
    transform: translate(-140%, 50%);
  }
  
  .double-fretmark:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(79, 66, 49, 0.819);
    top: 208px;
    transform: translate(-140%, 50%);
  }
  
  .note-fret.selected:before,
  .note-fret:hover:before {
    content: attr(data-note);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    background: green;
    z-index: 2;
    color: #eeee;
    opacity: 1;
  }
  
  .chord_name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #eee;
    text-shadow: 1px 1px 1px #000;
    z-index: 2;
  }
  
  .display-panel {
    flex: 1;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    background-color: #00C49A;
  }
  .keychanger{
    display: none;
    padding-right: 800px;
  }
  .tablist{
    padding-left: 200px;
    padding-right: 200px;
  }
  .tab{
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 0px;
    
  }
  #analyzer{
    background-color: yellow;
    grid-column: 1/4;
    text-align: center;
    border: 1px solid;
  }
  #discovery{
    background-color: aqua;
    
    grid-column: 4/7;
    text-align: center;
    border: 1px solid;
  }